.flex-on{
    display: flex;
}

/* Style for the website footer */
footer{
    background-color: rgb(7, 6, 7);
    color: white;
    padding:50px 0;
}
footer .footer-top{
    margin-bottom: 20px;
}
footer .sub h2{
    color: rgb(228, 140, 9);
    font-weight: 700;
}
footer .sub-input input{
    width: 400px;
    height: 60px;
    padding: 10px 20px;
    border: none;
    outline: none;
}
footer .sub-input button{
    background: rgb(228, 140, 9);
    color: white;
    padding: 10px 30px;
    height: 60px;
    border: none;
    font-size: 18px;
    outline: none;
}
footer .footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
footer .footer ul {
    list-style: none;
    padding-top: 20px;
}
footer .footer ul li a{
    color: rgb(240, 232, 232);
    text-decoration: none;
}
footer .footer ul li a:hover{
    color: rgb(228, 140, 9);
}
.grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.social{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.social a i{
    font-size: 1.5em;
    padding: 5px;
    background: rgba(146, 144, 144, 0.384);
    color: #eee7e7;
    border-radius: 50%;
}


